body {
  display: grid;
  flex-wrap: column wrap;
  align-content: center;
  font-family: "Gloria Hallelujah", cursive;
  justify-content: center;
  background-color: #252525;
  color: #eaeaea
}

.start {
  display: grid;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
  margin: 300px;
  border-style: outset;
  font-size: 18px;
  font-family: "Gloria Hallelujah", cursive;
}

button {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  margin: 80px;
  border-style: outset;
}

button:hover {
  background: #ffff1fdb;
  color: #191919;
}

button.check {
  margin: 20px; /* space between buttons */
  background: #ffff00db; /* background color */
  color: #333; /* text color */
  font-size: 18px;
  font-family: "Gloria Hallelujah", cursive;
  border-radius: 50px; /* rounded corners */
  padding: 10px; /* space around text */
   -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.5s; 
}

.left {
  display: flex;
  float: left;
}

.right {
  display: flex;
  float: right;
}

button.next {
  margin: 20px; /* space between buttons */
  background: #ffff00db; /* background color */
  color: #333; /* text color */
  font-size: 18px;
  font-family: "Gloria Hallelujah", cursive;
  border-radius: 50px; /* rounded corners */
  padding: 10px; /* space around text */
   -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.5s; 
}

.hide {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  cursor: pointer; 
}

/* 
@media screen {
  
  body {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: "Gloria Hallelujah", cursive;
    justify-content: center;
    background-color: #252525;
    color: #eaeaea;
    padding-left: 150px;
  }
} */