body {
  display: grid;
  flex-wrap: column wrap;
  align-content: center;
  font-family: "Gloria Hallelujah", cursive;
  justify-content: center;
  background-color: #252525;
  color: #eaeaea
}

.frontText {
  display: flex;
  font-size: 30px;
  height: 150px;

}

button {
  display: inline-block;
  border-radius: 10px;
  border-style: outset;
}

button:hover {
  background: #ffff1fdb;
  color: #191919;
}

button {
  margin: 5px; /* space between buttons */
  background: #ffff00db; /* background color */
  color: #333; /* text color */
  font-size: 18px;
  font-family: "Gloria Hallelujah", cursive;
  border-radius: 50px; /* rounded corners */
  padding: 10px; /* space around text */
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.5s; 
}

.hide {
  display: none;
}

.button-container {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  cursor: pointer; 
}

.games {
  display: flex;
  justify-content: space-evenly;
}

.score {
  display: flex;
  justify-content: flex-end;
  font-size: 26px;
  padding: 40px 20px 5px 10px;
}